# .gitignore - specifies files & directories to be ignored by Git

# npm/yarn packages
node_modules/

# parcel-bundler
.cache/
dist/

# JetBrains project files
.idea/

# log files
*.log

# temp build files
_javascript/
_sass/
_gh_pages/
_site/

# other
.DS_Store
sync.ffs_db

# ------------------------------------------------------------------------------
# Ignore ALL files under 'webroot' except for some specific files we DO want.
#
# We don't need to version most of the files under 'webroot' because they are
# not source code. They are just the output files created by Pug, Stylus and
# CoffeScript, which Parcel then immediately adds to the deployment package that
# it saves as the 'dist' directory. The only files under 'webroot' that we
# actually DO want to store in Git are: ALL of the image files under
# 'webroot/img', all of the 3rd-party CSS libraries/frameworks under
# 'webroot/css/vendor', and all of the 3rd-party JavaScript libraries under
# 'webroot/js/vendor'.
#
# .gitignore syntax can get a bit convoluted, but this is how it's done:

# We'll start by having Git exclude ALL files under 'webroot', by default.
webroot/**

# Then we'll add back the img directory,
!webroot/img/
# and include ALL files under 'webroot/img'
!webroot/img/**

# Next we'll add back the 'webroot/css' directory
!webroot/css/
# but exclude everything in it, by default.
webroot/css/**
# Then we'll add back the 'webroot/css/vendor' directory
!webroot/css/vendor/
# and exclude everything in there, by default.
webroot/css/vendor/**
# Then we include only the .css files under 'webroot/css/vendor'.
!webroot/css/vendor/*.css

# Likewise, we'll add back the 'webroot/js' directory
!webroot/js/
# but exclude everything in it, by default.
webroot/js/**
# Then we'll add back the 'webroot/js/vendor' directory
!webroot/js/vendor/
# and exclude everything in there, by default.
webroot/js/vendor/**
# And finally, we include only the .js files under 'webroot/js/vendor'.
!webroot/js/vendor/*.js

# It's just so intuitive and simple, right?  ...NOT!  :)
