doctype html

html(lang='en' itemscope itemtype='https://schema.org/WebPage')

  head
    //- This type of Pug comment does not show up in the output HTML.
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Your Awesome Website
    //- If using Bulma's icons, include FontAwesome before Bulma:
    //- script(defer src='js/vendor/fontawesome.js')
    //- Bulma is optional. Remove or comment it if you don't want to use it:
    link(rel='stylesheet' href='css/vendor/bulma.css')
    //- Your custom styles and "@import' statements can be put into styles.css:
    link(rel='stylesheet' href='css/styles.css')
    //- Temporarily uncomment in development to see the page's structural elements:
    //- link(id='debug' rel='stylesheet' href='css/vendor/debug.css')

  body
    noscript
    section.hero
      .hero-body
        p#my-heading.title Your New Empty Website
        p Time to get coding!

    script(src='js/main.js')
